apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ volume_id }}
  labels:
    type: amazonEBS
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  awsElasticBlockStore:
    volumeID: {{ volume_id }}
  storageClassName: {{ storageclass_name }}
