apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ storageclass_name }}
provisioner: kubernetes.io/aws-ebs
parameters:
  type: {{ pv_type }}
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: WaitForFirstConsumer
